# Core dependencies
streamlit
pandas
numpy
altair

# Data handling
huggingface-hub
pyyaml

# Text analysis
spacy
en-core-web-sm
scikit-learn
sentence-transformers
keybert

# Local development
python-dotenv

# Added for parquet reading on Spaces
pyarrow
